h1{
  text-align: center;
  margin: 25px;
  color: rgb(41, 184, 184);
  font-family: FreeMono, monospace;
  }
  .btn-primary {
    color:  rgb(117, 79, 148);
    border-color:  rgb(138, 101, 168);
    background: white!important;
    height: 40px;
    border: 20px;
    border: none!important;
    border-color: white!important;
    outline: none!important;
    box-shadow: none !important;

    }
    .btn-primary .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
      color:  rgb(117, 79, 148);
      background: white!important;
      height: 40px;
      border: none!important;
      border-color: white!important;
      outline: none!important;
      box-shadow: none !important;

      }
