<h1>Visionnage d'un horaire</h1>
<div class="form-row">
  <div class="form-group  col-md-4">
    <label for="date1" >Afficher horaire de la semaine du:</label>
    <input id="dateSel1" type="date" placeholder="yyyy-MM-dd" name="date1" class="form-control" style="border-color: rgb(117, 79, 148); border-radius: 10px; font-size: small;">

  </div>



  <div class="form-group  col-md-4">
  <br>

  <button class="btn btn-primary" id="btnconfirm" (click)="getHoraireBtwnDate()" >Confirm</button>
  </div>
  </div>
  <table class="table table-borderless" >
    <thead >
      <tr *ngIf="horaire.length >0" >
        <th scope="col">Nom et prenom</th>
        <th scope="col">{{lundi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{mardi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{mercredi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{jeudi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{vendredi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{samedi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{dimanche | date : 'EEEE dd/MM/yyyy'}}</th>

      </tr>
      </thead>


      <tbody >
        <tr *ngFor="let e of employe; let i = index" >

          <ng-container *ngIf="e.horaire.length>0" >
            <td >{{e.nom}} {{e.prenom}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.lundi !== null && e.semaine?.lundi.statusHoraire; else lu;" >De : {{e.semaine.lundi?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.lundi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.mardi !== null && e.semaine?.mardi.statusHoraire; else ma">De : {{e.semaine.mardi?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.mardi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.mercredi !== null && e.semaine?.mercredi.statusHoraire; else me">De : {{e.semaine.mercredi?.heureDebut|slice:0:5 }}<br> A &nbsp;: {{e.semaine.mercredi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.jeudi !== null && e.semaine?.jeudi.statusHoraire; else je">De : {{e.semaine.jeudi?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.jeudi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.vendredi !== null && e.semaine?.vendredi.statusHoraire; else ve">De : {{e.semaine.vendredi?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.vendredi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.samedi !== null && e.semaine?.samedi.statusHoraire; else sa">De : {{e.semaine.samedi?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.samedi?.heureFin|slice:0:5}}</td>
            <td style="text-align: center;" *ngIf="e.semaine?.dimanche !== null && e.semaine?.dimanche.statusHoraire; else di">De : {{e.semaine.dimanche?.heureDebut|slice:0:5}}<br> A &nbsp;: {{e.semaine.dimanche?.heureFin|slice:0:5}}</td>







        <ng-template #lu> <td>///////////////////////////</td></ng-template>
        <ng-template #ma><td>///////////////////////////</td> </ng-template>
        <ng-template #me><td>///////////////////////////</td></ng-template>
        <ng-template #je><td>///////////////////////////</td></ng-template>
        <ng-template #ve><td>///////////////////////////</td></ng-template>
        <ng-template #sa><td>///////////////////////////</td></ng-template>
        <ng-template #di><td>///////////////////////////</td></ng-template>
         </ng-container>
    </tr>
  </tbody>

  </table>

