<!--<p>Connecté sur le profil de {{currentUser}}</p>-->

<h1>Création d'un horaire</h1>
<div class="container">
  <div class="div">

  <div class="form-group" style="width: 300px;">
    <label for="ddn" ><h6> Comme horaire en date du :</h6></label>
    <input [(ngModel)]="hor.dateJour" type="date" placeholder="yyyy-MM-dd" name="ddn" class="form-control" id="date" style="border-color: rgb(117, 79, 148); border-radius: 10px; font-size: small;">
    <p *ngIf="!isFree" >L'utilisateur {{hor.employeeFromHoraire.nom}} n'est pas disponible ce jour la veuillez chosir quelqu'un d'autre</p>
    <p *ngIf="hor.dateJour < lundi" > veullez selectionner une date superieur a la date du debut de semaine</p>
  </div>

<div class="form-group" style="width: 300px;">
  <label><h6>Travailleur :**</h6></label>
  <select class="col-md-6" id="sel"  name="sel"  class="form-control form-control" style="border-color: rgb(117, 79, 148); border-radius: 10px;font-size: small;">
    <option selected>Selectionnez un travailleur </option>
    <ng-container *ngFor="let employe of employe">
    <option *ngIf="employe.statut" > {{employe.idEmploye}}&nbsp; &nbsp;{{employe.prenom}}&nbsp;{{employe.nom}}&nbsp;</option>
 </ng-container>
  </select>
  <p style="color: rgb(28, 173, 48);">**Si un travailleur n'apparait pas dans la liste c'est qu'il n'est plus consideré actuellement comme travaillant au McDonald</p>
</div>

<div class="form-group" style="width: 300px;">
  <h6>[Première horaire]</h6>
  <label >De:</label>
  <input [(ngModel)]="hor.heureDebut" type="time" id="hd" name="appt"  step="1"  required   >
</div>
<div class="form-group" style="width: 300px;">
  <label >A:&nbsp;&nbsp;</label>
  <input [(ngModel)]="hor.heureFin" type="time" id="hf" name="appt"  step="1" required   >
</div>
<p *ngIf="!verifDisp" >l'utilisateur {{hor.employeeFromHoraire.prenom}} {{hor.employeeFromHoraire.nom}} n est pas disponible dans les heure selctionne  </p>

<div class="form-group" style="width: 300px;">
  <h6>[Deuxième horaire]</h6>
  <label >De:</label>
  <input [(ngModel)]="hor.heureDebut2" type="time" id="hd2" name="appt" step="1" required   >
</div>

<div class="form-group" style="width: 300px;">
  <label >A:&nbsp;&nbsp;</label>
  <input [(ngModel)]="hor.heureFin2" type="time" id="hf2" name="appt" min="09:00" max="18:00" step="1" required   >
</div>

</div>


<div class="div" >
  <table class="table table-borderless" style="margin-top: 35px;" >
    <thead >
      <tr >
        <th scope="col" style="width: 10px;" >Nom et prenom</th>
        <th scope="col" style="height: 10px;">{{lundi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{mardi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{mercredi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{jeudi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{vendredi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{samedi | date : 'EEEE dd/MM/yyyy'}}</th>
        <th scope="col">{{dimanche | date : 'EEEE dd/MM/yyyy'}}</th>
        <!-- A terminer !!! <th scope="col">Nbr h/semaine</th>-->

      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let e of employe" >

          <ng-container *ngIf="e.horaire.length>0" >
            <td>{{e.nom}}<br> {{e.prenom}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.lundi !== null; else lu"  >De : {{e?.semaine?.lundi?.heureDebut }} <br> A &nbsp; : {{e?.semaine?.lundi?.heureFin}} <br *ngIf="e?.semaine?.lundi?.heureDebut2"> {{e?.semaine?.lundi?.heureDebut2}} <br> {{e.semaine?.lundi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.mardi !== null; else ma">De : {{e?.semaine?.mardi?.heureDebut}}<br> A &nbsp; :   {{e?.semaine?.mardi?.heureFin}} <br *ngIf="e?.semaine?.mardi?.heureDebut2"> {{e?.semaine?.mardi?.heureDebut2}} <br> {{e.semaine?.mardi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.mercredi !== null; else me">De : {{e?.semaine?.mercredi?.heureDebut}}<br> A &nbsp; :  {{e?.semaine?.mercredi?.heureFin}} <br *ngIf="e?.semaine?.mercredi?.heureDebut2"> {{e?.semaine?.mercredi?.heureDebut2}} <br> {{e.semaine?.mercredi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.jeudi !== null; else je">De : {{e?.semaine?.jeudi?.heureDebut}} <br> A &nbsp; :  {{e?.semaine?.jeudi?.heureFin}}<br *ngIf="e?.semaine?.jeudi?.heureDebut2"> {{e.semaine?.jeudi?.heureDebut2}} <br> {{e.semaine?.jeudi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.vendredi !== null; else ve">De : {{e?.semaine?.vendredi?.heureDebut}}<br> A &nbsp; :  {{e?.semaine?.vendredi?.heureFin}}<br *ngIf="e?.semaine?.vendredi?.heureDebut2" >  {{e?.semaine?.vendredi?.heureDebut2}} <br> {{e.semaine?.vendredi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.samedi !== null; else sa">De : {{e?.semaine?.samedi?.heureDebut}}<br> A &nbsp; :   {{e?.semaine?.samedi?.heureFin}}  <br *ngIf="e?.semaine?.samedi?.heureDebut2"> {{e?.semaine?.samedi?.heureDebut2}} <br> {{e.semaine?.samedi?.heureFin2}}</td>
                <td style="text-align: center;" *ngIf="e?.semaine?.dimanche !== null; else di">De : {{e?.semaine?.dimanche?.heureDebut}}<br> A &nbsp; :   {{e?.semaine?.dimanche?.heureFin}} <br *ngIf="e?.semaine?.dimanche?.heureDebut2"> {{e?.semaine?.dimanche?.heureDebut2}} <br> {{e.semaine?.dimanche?.heureFin2}}</td>

          </ng-container>

        </tr>

            <ng-template #lu> <td>///////////////</td></ng-template>
            <ng-template #ma><td>////////////////</td> </ng-template>
            <ng-template #me><td>////////////////</td></ng-template>
            <ng-template #je><td>/////////////////</td></ng-template>
            <ng-template #ve><td>/////////////////</td></ng-template>
            <ng-template #sa><td>/////////////////</td></ng-template>
            <ng-template #di><td>/////////////////</td></ng-template>

      </tbody>

  </table>
  <button class="btn btn-primary" style="margin: 10px;" (click)="showData(); createSchedule()">Créer !</button>
    <button class="btn btn-primary" (click)="reloadComponent()">Vider tous les champs</button>
  <div style="clear:both; font-size:1px;"></div>
</div>
</div>
