<table>
<tr>
<td>
<div class="jumbotron" style="width: 350px; height: 310px;">
  <h4>Liste disponibilité</h4>
  <hr class="my-4">
  <p>Voir la liste des disponibilite de tous les utilisateurs</p>
  <button  type="button" class="btn btn-success"  [routerLink]="'/dispoList'">Go on this</button>

</div>
</td>
<td>
<div class="jumbotron" style="width: 350px; height: 310px;">
  <h4>Modifier disponibilité</h4>
  <hr class="my-4">
  <p>Modifier les disponibilité d'un utilisateur(celle-ci peut etre null)</p>
  <button type="button" class="btn btn-success" [routerLink]="'/dispoModif'">Go on this</button>

</div>
</td>
<td>
<div class="jumbotron" style="width: 350px; height: 310px;">
  <h4>Supprimer disponibilité</h4>
  <hr class="my-4">
  <p>Vider les disponibilité d'un utilisateur</p>
  <pre></pre>
  <button type="button" class="btn btn-success">Go on this</button>

</div>
</td>
</tr>
</table>

