.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgb(117, 79, 148)!important;
  border-color: white; /*set the color you want here*/
  outline: none!important;
  box-shadow: none !important;
}
.btn-primary {
color:  rgb(117, 79, 148);
border-color:  rgb(138, 101, 168);
background-color: white!important;
outline: none!important;
box-shadow: none !important;
}
h1{
text-align: center;
margin: 25px;
color: rgb(41, 184, 184);
font-family: FreeMono, monospace;
  }
  .jumbotron{
    background-color: rgb(138, 101, 168,30%);
    border-radius: 20px;
  }

h5{
  text-align: center;
}
small{
  margin-top: 20px;
  float: right;

}
p{
  word-wrap: break-word;
}
.jumbotron {
  float: left;
    width: 29%;
    margin-left: 40px;
    margin-top: 1px;
  }
  div.container {
    width: 100%;
    }
