<h1  >Liste des employés</h1>

<table *ngIf="employes" class="table table-hover">

    <thead>
      <tr>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">STATUT</th>
        <th scope="col">&nbsp;</th>

      </tr>
    </thead>


    <tbody *ngFor="let employe of employes" >
      <tr>
        <td>{{employe.nom}}</td>
        <td>{{employe.prenom}}</td>
        <td *ngIf="employe.statut" style="color: green;">ACTIVE</td>
        <td *ngIf="!employe.statut" style="color: red;">INACTIVE</td>
        <td>
          <button id="test" class="btn btn-primary"  [routerLink]="['/employe/list/thisEmp/'+employe.idEmploye]">More</button>
          <button class="btn btn-primary" [routerLink]="['/admin/panelList/gestionRole/'+employe.idEmploye]">Role</button>
          <button id="test2" class="btn btn-primary" [routerLink]="['/employe/list/contrat/'+employe.idEmploye]">Heure/S</button>
        </td>

      </tr>
    </tbody>
</table>
