<div class="row h-100">
  <div class="col-sm-12 my-auto">
<div class="alert alert-success" role="alert" style="text-align: center;" >
 <h3>Liste des disponibilités</h3>
</div>
</div>
</div>
<p  *ngFor="let d of dispo; let i = index"></p>

    <table class="table table-striped"  >
      <thead>
      <tr>
        <th scope ="col">Jour de la semaine</th>
        <th scope="col">De: </th>
        <th scope="col">A: </th>
        <th scope="col">Nom : </th>
        <th scope="col">Prénom : </th>

      </tr>
      </thead>



      <tbody>
      <tr *ngFor="let d of dispo" >
      <th scope ="row">Lundi</th>

        <td>{{ d.lundi }}h</td>
        <td>{{ d.lundi2}}h</td>
        <td >{{d.employee.nom}}</td>
        <td> {{d.employee.prenom}}</td>


      </tr>
      <tr *ngFor="let d of dispo" >
        <th scope ="row">Mardi</th>

        <td>{{ d.mardi }}h</td>
        <td>{{ d.mardi2}}h</td>
        <td >{{d.employee.nom}}</td>
        <td> {{d.employee.prenom}}</td>

        </tr>

        <tr *ngFor="let d of dispo" >
          <th scope ="row">Mercredi</th>

          <td>{{ d.mercredi }}h</td>
          <td>{{ d.mercredi2}}h</td>
          <td >{{d.employee.nom}}</td>
          <td> {{d.employee.prenom}}</td>

          </tr>

          <tr *ngFor="let d of dispo" >
            <th scope ="row">Jeudi</th>

            <td>{{ d.jeudi }}h</td>
            <td>{{ d.jeudi2}}h</td>
            <td >{{d.employee.nom}}</td>
            <td> {{d.employee.prenom}}</td>

            </tr>

            <tr *ngFor="let d of dispo" >
              <th scope ="row">Vendredi</th>

              <td>{{ d.vendredi }}h</td>
              <td>{{ d.vendredi2}}h</td>
              <td >{{d.employee.nom}}</td>
              <td> {{d.employee.prenom}}</td>

              </tr>

              <tr *ngFor="let d of dispo " >
                <th scope ="row">Samedi</th>

                <td>{{ d.samedi}}h</td>
                <td>{{ d.samedi2}}h</td>
                <td >{{d.employee.nom}}</td>
                <td> {{d.employee.prenom}}</td>

                </tr>

                <tr *ngFor="let d of dispo" >
                  <th scope ="row">Dimanche</th>

                  <td>{{ d.dimanche }}h</td>
                  <td>{{ d.dimanche2}}h</td>
                  <td >{{d.employee.nom}}</td>
                  <td> {{d.employee.prenom}}</td>

                  </tr>


      </tbody>
    </table>
    <br>


    <td style="width: 250px; padding-right: 70px; ">
    <br>


    </td>
