<div class="row h-100">
  <div class="col-sm-12 my-auto">
 <h1>Liste des disponibilités</h1>
</div>
</div>
<p  *ngFor="let d of dispo; let i = index"></p>

    <table class="table table-borderless"  >
      <thead >
      <tr >
        <th scope ="col" style="border: none;"></th>
        <th scope="col" style="border: none;">Nom : </th>
        <th scope="col" style="border: none;">Prénom : </th>

      </tr>
      </thead>



      <tbody>
      <tr *ngFor="let d of dispo" >
        <ng-container *ngIf="d.employeeFromDisp">
      <th scope ="row">Disponibilité de :</th>


        <td >{{d.employeeFromDisp?.nom}}</td>
        <td> {{d.employeeFromDisp?.prenom}}</td>
        <td><button class="btn btn-warning" [routerLink]="['/dispoThisEmp/'+d.idDispo] ">Clique pour voir la disponibilité</button></td>

</ng-container>

      </tbody>
    </table>
    <br>


    <td style="width: 250px; padding-right: 70px; ">
    <br>


    </td>

