<h1 >Gestion des contrats</h1>

<h5 id="nom">{{emp?.nom}}</h5>
<h5 id="prenom">{{emp?.prenom}}</h5>
<h5 id="contratActuel">{{contrat}} Heure/Semaine</h5>

<button id="etudiant" class="btn btn-primary"   (click)="onStudent()">Étudiant(13h)</button>
<button id="ouvrier10h" class="btn btn-primary" (click)="onWorker10h()">Ouvrier(10h)</button>
<button id="ouvrier20h" class="btn btn-primary" (click)="onWorker20h()">Ouvrier(20h)</button>
<button id="ouvrier28h" class="btn btn-primary" (click)="onWorker28h()">Ouvrier(28h)</button>
