
<ul id="navbarStyle" ngbNav class="nav-tabs justify-content-center" style="padding-bottom: 20px; border-style: none;" >


  <button *ngIf="authenticated" type="button" id="posBttn" class="btn btn-outline-info"   [routerLink]="'/employe/list'">Employée
  </button>
  <button *ngIf="authenticated" type="button" id="posBttn" class="btn btn-outline-info"[routerLink]="'/conge/listConge'"  >Congé
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
  <button *ngIf="authenticated" type="button" id="posBttn" class="btn btn-outline-info" [routerLink]="'/dispoList'"  >Disponibilité
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
<!--
  <button type="button" id="posBttn" class="btn btn-outline-info" [routerLink]="'/horaireVue'"  >Horaire
    <ng-template ngbNavContent>
      <p></p>
    </ng-template>
  </button>
-->

  <div class="btn-group mr-3" *ngIf="authenticated">
    <button type="button" id="posBttn" class="btn btn-outline-info" [routerLink]="'/horaireVue'" >Horaire</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button id="posBttn" class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
      <div class="dropdown-menu" ngbDropdownMenu style="border-style: none; height: 50px;">
        <button id="posBttn" ngbDropdownItem routerLink="/horaireCreation">Créer</button>
        <button id="posBttn" ngbDropdownItem routerLink="/horaireModification">Modifier/Supprimer</button>
      </div>
    </div>
  </div>
<!--
 <button type="button" class="btn btn-outline-info " style="outline-color: teal;" >Inscription en attente
  <ng-template ngbNavContent>
    <p></p>
  </ng-template>
</button>
-->
<button *ngIf="authenticated" type="button" id="posBttn" class="btn btn-outline-info" >Question
  <ng-template ngbNavContent>
    <p></p>
  </ng-template>
</button>
<button *ngIf="authenticated" type="button" id="posBttn" class="btn btn-outline-info" [routerLink]="'/forum'" >Forum
  <ng-template ngbNavContent>
    <p></p>
  </ng-template>
</button>
<button *ngIf="authenticated"  type="button" id="posBttn" class="btn btn-outline-info">Appellez renforts
  <ng-template ngbNavContent>
    <p></p>
  </ng-template>
</button>

<button *ngIf="role === 'StoreManager' && authenticated" type="button" id="posBttn" class="btn btn-outline-info" [routerLink]="'/admin/panelList'"  >Panel StoreManager
  <ng-template ngbNavContent>
    <p></p>
  </ng-template>
</button>

      <!--
                      <li ngbDropdown class="nav-item">

                        <a href (click)="false" class="nav-link" ngbDropdownToggle style="padding: 10px; background-color: #303030; color: gray;">Management</a>
                        <div ngbDropdownMenu style="background-color: #303030;">
                          <button  style="color: gray;">User</button>
                          <button  style="color: gray;">Book</button>
                          <button ngbDropdownItem style="color: gray;">Something else here</button>
                        </div>
                      </li>-->


  <li  ngbNavItem  class="ml-auto">
    <button  type="button"  class="btn btn-outline-success" [routerLink]="'/login'"  *ngIf="!authenticated" >Authentification</button>
    <img src="assets\icons\logoMcDo.png" alt="Logo" style="width:70px; height: 70px;">
    <button type="button"  class="btn btn-outline-danger" *ngIf="authenticated" (click)="logout()">Se deconnecter de {{username}}</button>
  </li>


</ul>
<!-- <h1 style="text-align: center; padding-bottom: 40px;" >Page d'accueil &nbsp;</h1>


<ul> <h2>Nouveauté sur l'application :</h2>
  <li><h4>Ajout de la barre de navigation ainsi que de l html du login ! 16-08-20 00:49</h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
</ul>-->

<div class="container">

  <router-outlet></router-outlet>

</div>

