<div class="row h-100">
  <div class="col-sm-12 my-auto">
<div class="alert alert-success" role="alert" style="text-align: center;" >
 <h3>Choisissez quel disponibilité modifier</h3>
</div>
</div>
</div>
<p  *ngFor="let d of dispo; let i = index"></p>

    <table class="table table-striped"  >
      <thead>
      <tr>
        <th scope ="col"></th>
        <th scope="col">Nom : </th>
        <th scope="col">Prénom : </th>

      </tr>
      </thead>



      <tbody>
      <tr *ngFor="let d of dispo" >
      <th scope ="row">Disponibilité de :</th>


        <td >{{d.employee.nom}}</td>
        <td> {{d.employee.prenom}}</td>
        <td><button class="btn btn-warning" [routerLink]="['/dispoDetails/'+d.idDispo] ">Clique pour modifier la disponibilité</button></td>



      </tbody>
    </table>
    <br>


    <td style="width: 250px; padding-right: 70px; ">
    <br>


    </td>

