<div>
  <h1>Modifier un horaire</h1>
</div>
<div class="div">
  <input id="dt" type="date" placeholder="yyyy-mm-dd" class="form-control" >
</div>

<div class="div">
  <select id="emp" class="form-control form-control">
    <option selected>choisissez un travailleur</option>
      <ng-container *ngFor="let employe of employes" >
    <option *ngIf="employe.nom"  >{{employe.idEmploye}}&nbsp;{{employe.prenom}}&nbsp;{{employe.nom}}</option>
      </ng-container>
  </select>
</div>

<button class="btn btn-primary" (click)="checkValue()" >Rechercher</button>


<div class="div3" *ngIf="horaire">
<p>Affichage de l'horaire du {{horaire?.dateJour |date:'EEEE dd-MM-yyyy' |uppercase}} pour l'employé(e) {{horaire?.employeeFromHoraire?.nom |uppercase}} {{horaire?.employeeFromHoraire?.prenom |uppercase}}</p>
</div>
<div class="div2" *ngIf="horaire"  >

<div class="form-group" style="width: 300px;">
  <h6>[Première horaire]</h6>
  <label >De:</label>
  <input [(ngModel)]="horaire.heureDebut" type="time" id="hd" name="appt"  step="1"  required   >
  <p *ngIf="!verifDisp" >l'utilisateur n est pas disponible pour les heure entrée</p>
</div>
<div class="form-group" style="width: 300px;">
  <label >A:&nbsp;&nbsp;</label>
  <input [(ngModel)]="horaire.heureFin" type="time" id="hf" name="appt"  step="1" required   >
    <p *ngIf="!verifDisp" >l'utilisateur n est pas disponible pour les heure entrée</p>
</div>
</div>
<div class="div2" *ngIf="horaire" >
<div class="form-group" style="width: 300px; " *ngIf="horaire.heureDebut2" >
  <h6>[Deuxième horaire]</h6>
  <label >De:</label>
  <input [(ngModel)]="horaire.heureDebut2" type="time" id="hd2" name="appt" step="1" required   >
</div>

<div class="form-group" style="width: 300px;" *ngIf="horaire.heureFin2" >
  <label >A:&nbsp;&nbsp;</label>
  <input [(ngModel)]="horaire.heureFin2" type="time" id="hf2" name="appt" min="09:00" max="18:00" step="1" required   >
</div>



</div>
<div class="div2" *ngIf="horaire" style="margin-right: 16px;" >
<div class="form-group"  >
  <h6 >[Raison de la modification]</h6>
  <input [(ngModel)]="rm.raison" placeholder="Indiquer ici une raison :" type="text" id="hf2" name="appt">

</div>
<h6 *ngIf="rm?.raison">[Choisissez une action]</h6>
  <button class="btn btn-primary" *ngIf="rm?.raison" style="margin-top: 24px;" (click)="removeThisSchedule()" >Supprimer l'horaire de l'employée</button>

</div>
<div class="div2" *ngIf="rm?.raison" >
  <button class="btn btn-primary" (click)="modifScheduleCompo();saveRaisonModif()">Appliquer les changements</button>
</div>
