<h1 style="text-align: center; padding-bottom: 40px;" >Page d'accueil &nbsp;</h1>


<ul> <h2>Nouveauté sur l'application :</h2>
  <li><h4>Ajout de la barre de navigation ainsi que de l html du login ! 16-08-20 00:49</h4></li>
  <li><h4>Connexion implementé au seins du backend et du frontend ! 16-08-20 23:01</h4></li>
  <li><h4>Changement de style de la navbar ! 16-08-20 23:01</h4></li>
  <li><h4>Bug du boutons déconnexion régler , ajout de la page home ! 16-08-20 23:01</h4></li>
  <li><h4>Ajout de la la page d accueil des disponibilité menant au 3 fonction principale de celle ci ! 17-08-20 21:08</h4></li>
  <li><h4>Ajout de la page liste disponivilité ainsi que de la logqique dont elle est consisté ! 17-08-20 23:15</h4></li>
  <li><h4>Apprentissage de l'implémentation et la gestion des role point de vue sécurité dans le front end ! 18-08-20 00:25</h4></li>
  <li><h4>Ajout d'un contour surbrillant lors du clique de l onglet dans le navbar !  Fais il ya quelque jours</h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
  <li><h4></h4></li>
</ul>
