<h1 style="text-align: center; padding-bottom: 40px;" >Page d'accueil &nbsp;</h1>


<ul> <h2>Nouveauté sur l'application :</h2>
  <li><h4>Ajout de la barre de navigation ainsi que de l html du login ! <pre style="color: tomato;">16-08-20 00:49</pre></h4></li>
  <li><h4>Connexion implementé au seins du backend et du frontend !  <pre style="color: tomato;">16-08-20 23:01</pre></h4></li>
  <li><h4>Changement de style de la navbar ! <pre style="color: tomato;">16-08-20 23:01</pre></h4></li>
  <li><h4>Bug du boutons déconnexion régler , ajout de la page home !  <pre style="color: tomato;">16-08-20 23:01</pre></h4></li>
  <li><h4>Ajout de la la page d accueil des disponibilité menant au 3 fonction principale de celle ci !  <pre style="color: tomato;">17-08-20 21:08</pre></h4></li>
  <li><h4>Ajout de la page liste disponivilité ainsi que de la logqique dont elle est consisté ! <pre style="color: tomato;">17-08-20 23:15</pre> </h4></li>
  <li><h4>Apprentissage de l'implémentation et la gestion des role point de vue sécurité dans le front end ! <pre style="color: tomato;">18-08-20 00:25</pre> </h4></li>
  <li><h4>Ajout d'un contour surbrillant lors du clique de l onglet dans le navbar !  <pre style="color: tomato;">Fais il ya quelque jours</pre> </h4></li>
  <li><h4>Ajout de la page modifier disponibilité ainsi que du boutons y conduisant ! <pre style="color: tomato;">18-08-20 23:15</pre> </h4></li>
  <li><h4>Implementations de la logique de la page en suivant l'analyse de cette étape du UC Gerer dispo ! <pre style="color: tomato;">18-08-20 23:50</pre> </h4></li>
  <li><h4>Ajout de la page disponibilité detail ! <pre style="color: tomato;">19-08-20 23:58</pre> </h4></li>
  <li><h4>Ajout de la logqie derriere la page disponibilite-detail le bouton y menant fonctionne !  <pre style="color: tomato;">20-08-20 00:56</pre></h4></li>
  <li><h4>La page fonctionnalité détail fonctionne , les disponibilité peuvent y etre modifier !  <pre style="color: tomato;">22-08-20 16:08</pre></h4></li>
  <li><h4>Modification de la page modifier disponibilité pour une lecture plus agréable et compréhensible ! <pre style="color: tomato;">22-08-20 16:30</pre> </h4></li>
  <li><h4>Fin du UC gérer disponibilité(coté webApp) rendez vous avec le client prévu pour le lundi 24 aout 2020 !  <pre style="color: tomato;">22-08-20 17:23</pre></h4></li>
  <li><h4>Déboguage de l'application mobile(échec) Décision d'un passage sur une pwa ! <pre style="color: tomato;">Du 23-08-20 Au 28-08-20</pre></h4></li>
  <li><h4>Création d'une toDoList !<pre style="color: tomato;">29-08-20 18:28</pre></h4></li>
  <li><h4> Apprentisage de la gestion de la mise en place et de la mise en production d'une pwa<pre style="color: tomato;">Du 30-08-20 Au 5-09-20</pre></h4></li>
  <li><h4>Révision pour les differents examen de septembre<pre style="color: tomato;">Du 05-09-20 Au 12-09-20 </pre></h4></li>
  <li><h4>Creation de la pwa comprenant l inscription la connexion et l encodage des disponibilite<pre style="color: tomato;">Du 12-09-20 Au 16-09-20</pre></h4></li>
  <li><h4>Rendez vous avec le client fixé au 19 aout 09h00 pour la validation de la pwa et du Use case Gérer Dispo(coté pwa) <pre style="color: tomato;">16-09-20 15:19</pre></h4></li>
  <li><h4>Début du use case Création Horaire<pre style="color: tomato;">16-09-20 19:55</pre></h4></li>
  <li><h4>Ajout de 2 foreign key dans la table horaire(idUserCreate,idUserModif)<pre style="color: tomato;">16-09-20 20:13</pre></h4></li>
  <li><h4>Creation dans le backend du repository du service et du controller<pre style="color: tomato;">16-09-20 20:30</pre></h4></li>
  <li><h4>Ajout de valeur dans la database pour la table horaire plus ajustement des type utilisés<pre style="color: tomato;">16-09-20 20:44</pre></h4></li>
  <li><h4>Ajout des 2 foreign key dans le backend(model de horaire) et ajustement des type definie pour les heures + leger deboguage <pre style="color: tomato;">16-09-20 21:08</pre></h4></li>
  <li><h4>Methode allHoraire implementer et tester dans postman (test fonctionelle réussie)<pre style="color: tomato;">16-09-20 21:25</pre></h4></li>
  <li><h4>Ajustement du httpInterceptor<pre style="color: tomato;">16-09-2020 22:07</pre></h4></li>
  <li><h4>Création d'un  dossier horaire<pre style="color: tomato;">17-09-20 15:09</pre></h4></li>
  <li><h4>Création d'un sous dossier hoaire-menu, horaireCreatio,HoraireModif et horaire visionnage <pre style="color: tomato;"> 17-09-20 15:10</pre></h4></li>
  <li><h4>Dans horaire-menu création d'un jumbotron Creer Horaire , voir horaire et Modifier Horaire<pre style="color: tomato;">17-09-20 15:20</pre></h4></li>
  <li><h4>Création des routes de ces differents component et ajouts de la logique des bouton go to this dans horaireMenu<pre style="color: tomato;">17-09-20 15:33</pre></h4></li>
  <li><h4>Création d'un entête "horaire créé par " dans horaireCreation pour garder la tracabilité de celui qui a créé l'horaire<pre style="color: tomato;">17-09-20 16:05</pre></h4></li>
  <li><h4>Design graphique et analyse sur papier de toute la partie creation horaire au point de vue fonctionnement  <pre style="color: tomato;"></pre></h4></li>
  <li><h4>Réalisation du UC Voir horaire du coté webApplication<pre style="color: tomato;">Du 18-09-2020 Au 20-09-2020</pre></h4></li>
  <li><h4><pre style="color: tomato;"></pre></h4></li>
</ul>


